* {
  font-family: Poppins !important;
}

.clientes {
  color: var(--color-text)
}

.form-control {
  border: 2px solid var(--color-primary) !important
}

.form-control:focus {
  border: 2px solid var(--color-secondary) !important
}

.page-link {
  background-color: var(--color-primary) !important; 
  color: var(--color-blanco) !important;
}

.page-link:hover {
  background-color: var(--color-blanco) !important; 
  color: var(--color-primary) !important
}