.verMasFigure:hover .verMas {
  opacity: 1;
}

.verMas {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--color-primary);
  height: 30px;
  color: var(--color-blanco);
  opacity: 0;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.card-add {
  color: var(--color-primary);
  cursor: pointer;
}